    /* ESTILO PARA DROPDOWN */
.custom-navbar .dropdown-menu {
  background-color: #0088b6;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin-top: 0.5rem;

}

.custom-navbar .dropdown-item {
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 0.95rem;
  transition: background-color 0.3s ease, padding-left 0.3s;
}

.custom-navbar .dropdown-item:hover {
  background-color: #00729c;
  color: white;
}