/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CORPO */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  color: #333;
}

/* NAVBAR PERSONALIZADA */
.custom-navbar {
  background-color: #0088b6;
  padding: 1rem 1.5rem;
}

/* LOGO */
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0;
  margin-left: 0;
}

.navbar-brand img {
  width: 50px;
  object-fit: contain;
  padding-left: 4px;
}

.navbar-brand span {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* ITENS DA NAVBAR */
.navbar-nav .nav-link {
  position: relative;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 auto;
  transition: color 0.3s;

  margin-left: 1.5rem;
  /* espaço entre os itens */
}

/* UNDERLINE ANIMADO */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 5px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* HOVER & ACTIVE */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
  color: white;
  background-color: transparent;
}

    /* ESTILO PARA DROPDOWN */
.custom-navbar .dropdown-menu {
  background-color: #0088b6;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.custom-navbar .dropdown-item {
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 0.95rem;
  transition: background-color 0.3s ease, padding-left 0.3s;
}

.custom-navbar .dropdown-item:hover {
  background-color: #00729c;
  color: white;
}


/* RESPONSIVO */
@media (max-width: 900px) {
  .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    text-align: center;
  }

  .navbar-brand span {
    font-size: 1.25rem;
  }

}